/* 页面背景色 */
.page {
	background-color: #EDEDED;
	/* #ifndef APP-NVUE */
	min-height: 100%;
	height: auto;
	/* #endif */
	
	/* #ifdef APP-PLUS */
	flex: 1;
	/* #endif */
}

/* 主背景色 */
.main-bg-color {
	background-color: #08c060;
}

.main-bg-hover-color {
	background-color: #08d869;
}

/* 主文字色 */
.main-text-color {
	color: #08C060;
}

.border-main {
	border-color: #08C060!important;
}

.bg-chat-item{
	background-color: #6BEE68;
}
.text-chat-item{
	color: #6BEE68;
}